{%  extends 'base.html.twig' %}

{% block body %}
    <section class="container p-5" >

        <form action="#">
            <h1 class="detail-profil-title mb-5" >Votre profil professionnel</h1>
            <div class="card mt-4" >
                <div class="card-body" >
                    <h1 class="detail-profil-sub-title" >Votre catégorie</h1>
                    <div class="card-body p-0 pb-3" >
                        <div class="form-group">
                            <label for="" class="" ></label>
                            <select name="" class="custom-select form-control col-12" id="">
                                <option value="-1" >Comment</option>
                                <option value="-1" >Comment</option>
                                <option value="-1" >Comment</option>
                                <option value="-1" >Comment</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3" >
                <div class="card-body" >
                    <h1 class="detail-profil-sub-title" >Titre de votre profil</h1>
                    <div class="card-body p-0 pb-3" >
                        <div class="form-group">
                            <label for="" class="" ></label>
                            <input class="form-control"  type="text" placeholder="Ex: Développeur PHP senior,Ingénieur en Reseau">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3" >
                <div class="card-body" >
                    <h1 class="detail-profil-sub-title" >Adresse</h1>
                    <div class="card-body p-0 pb-3" >
                        <div class="form-group">
                            <label for="" class="" ></label>
                            <input class="form-control"  type="text" placeholder="Ex: Dakar Fann Hock">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3" >
                <div class="card-body" >
                    <h1 class="detail-profil-sub-title" >Votre niveau d'expérience</h1>
                    <div class="card-body p-0 pb-3" >
                        <div class="form-group">
                            <p class="p-4 text-justify" >
                                Ces 3 niveaux d'expérience sont utilisés à titre indicatif et correspondent habituellement aux niveaux junior (0-2 ans), intermédiaire (2-7 ans) et senior (7 ans et +).
                            </p>
                            <div >
                                <button class="btn text-color-blue-lite active-btn-experience" id="btn-experience" >0-2 ans</button>
                                <button class="btn text-color-blue-lite"  id="btn-experience">2-7 ans </button>
                                <button class="btn text-color-blue-lite" id="btn-experience" >7ans et +</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3" >
                <div class="card-body" >
                    <h1 class="detail-profil-sub-title" >Vos compétences</h1>
                    <p>
                        Merci d'indiquer l'ensemble de vos compétences que vous pensez pertinentes et qu'un client pourrait rechercher : logiciels/technos que vous maîtrisez, vos domaines de spécialités, vos compétences relationnelles, managériales, les secteurs d'activité dont vous êtes expert etc.
                        Tout ce qui pourrait intéresser un client et l'aider à trouver un profil comme le vôtre
                    </p>
                    <div class="card-body p-0 pb-3" >
                        <div class="form-group">
                            <label for="" class="" ></label>
                            <select class="js-select-multiple form-control" name="states[]" multiple="multiple">
                            <option value="AL">Alabama</option>
                            ...
                            <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3" >
                <div class="card-body" >
                    <h1 class="detail-profil-sub-title" >Numéro Telephone *</h1>
                    <div class="card-body p-0 pb-3" >
                        <div class="form-group">
                            <label for="" class="" ></label>
                            <input class="form-control"  type="text" placeholder="Ex: 772199737 ">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn active-btn-experience offset-5 off mt-5 mb-5 " >Terminer</button>
        </form>
    </section>
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
