{% extends "base.html.twig" %}

{% block body %}

    <section class="">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-md-start justify-content-lg-start justify-content-sm-start">
                {% for user in users %}
                    <a href="{{ path("app_show_cv",{id:user.id}) }}" class="mb-5 p-2 text-decoration-none">
                        <div class="card shadow" style="width: 18rem;height: 100%">
                            <img src="https://images.prismic.io/cadremploi-edito/2c42db4e-15ac-49a4-8d50-e4113a8adbb5_Bonne-photo-cv-femme1.JPG?auto=compress,format"
                                 class="card-img-top" height="300px" width="200px" alt="...">
                            <p class="card-user-name">{{ user.fullName }}</p>
                            <div class="card-body">
                                <h5 class="card-title pt-3">{{ user.profileTitle }}</h5>
                                <p class="card-text pb-4 pt-2 ">
                                    {% for skill in user.skills %}
                                        <span class="badge bg-blue-lite text-color-blue-lite">{{ skill.name }}</span>
                                    {% endfor %}

                                </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}



