<div class="card shadow bg-white" >
    {% if app.user.id == user.id %}
        <div class="fw-bold align-items-center d-flex p-4" >
            <a href="#" class="p-2" > <i class="fa fa-edit" ></i> Ajouter</a>
            <a href="#" class="ml-2 p-2 text-success" > <i class="fas fa-trash" ></i> Editer</a>
            <a href="#" class="ml-2 p-2 text-danger" > <i class="fas fa-trash" ></i> Supprimer</a>
        </div>
    {% endif %}
    <div class="card-body p-4 pt-0">
        <h1 class="competence-title pb-2">Formation</h1>
        <div class="card-body">
            <p class="detail-profil-sub-title fs-6" >Université amadou hampate ba </p>
            <div class="dropdown-divider" ></div>
            <p class="detail-profil-sub-title fs-6" >Université amadou hampate ba  </p>
        </div>
    </div>
</div>
