<div class="card shadow bg-white" >
    <div class="card-body p-5">
        <h1 class="competence-title pb-3">Compétence (20)</h1>
        <div class="row row-cols-md-2" >
            {% for i in range(1,10)  %}
                <div class="card-body">
                    <a href="#" class="detail-profil-card-link" >Laravel</a>
                    <div class="dropdown-divider" ></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
