<div class="card shadow bg-white" >
    <div class="card-body p-5">
        <h1 class="competence-title pb-3">Langue</h1>
        <div class="card-body">
            <p class="detail-profil-sub-title fs-6" >Français </p>
            <div class="dropdown-divider" ></div>
            <p class="detail-profil-sub-title fs-6" >Anglais</p>
            <div class="dropdown-divider" ></div>
            <p class="detail-profil-sub-title fs-6" >Pular</p>
        </div>
    </div>
</div>
