{% extends 'base.html.twig' %}

{% block body %}

    {% include 'profile/cv/partials/header.html.twig' %}

{#    section Competance   #}

    <section class="container mt-4">

        <div class="row" >

            <div class="col-md-4 col-4 rounded-pill " >
                <div class="card shadow bg-white" >
                    <h6 class="detail-profil-sub-title">Formation</h6>
                </div>
            </div>

            <div class="col-md-8 col-8 rounded-pill" >
                {% include 'profile/cv/partials/cardSkill.html.twig' %}
                <div class="p-2" ></div>
                {% include 'profile/cv/partials/cardExperience.html.twig' %}
                <div class="p-2" ></div>
                {% include 'profile/cv/partials/cardUserDescription.html.twig' %}
            </div>
        </div>
    </section>
{#    section formation #}


{% endblock %}
